# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po
*.Plo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
#*.out
#*.app

# Backup files
*.bak
*~

# Patches
*.orig
*.rej

# Log files
*.log

# build
build/

# Automake
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
aux_config/
config.h.in
configure
m4/

# Kdevelop
.kdev4/
*.kdev4

# QtCreator
Makefile.am.user
CMakeLists.txt.user*

# MSVC
.vs/

# CLion
.idea/

# links (linux-specific)
#modules/ACE
#modules/Common
#modules/ACENetwork

# data
test_u/imagescreen/data/

#test_i/camera_ar/olcfont_consolas.bmp

#test_i/speechcommand/etc/deepspeech-0.9.3-models.pbmm
#test_i/speechcommand/etc/deepspeech-0.9.3-models.scorer
#test_i/speechcommand/etc/model.pbmm
#test_i/speechcommand/etc/de-aashishag-1-prune-kenlm.scorer

*.jpg
*.rgb
*.yuv
