[submodule "modules/cotire"]
	path = modules/cotire
	url = https://github.com/sakra/cotire.git
[submodule "modules/cmake-modules"]
	path = modules/cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
