# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po
*.Plo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup files
*.bak
*~

# Patches
*.patch

# Log files
*.log

# build
build/

# Automake
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
aux_config/
config.h.in
configure
m4/

# Kdevelop
.kdev4/
*.kdev4

# QtCreator
Makefile.am.user
CMakeLists.txt.user*

# MSVC
.vs/

# links (linux-specific)
#modules/ACE
#modules/Common
#modules/ACENetwork

# data
test_u/imagescreen/data/
