# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

# Backup files
*.bak

# Automake
Makefile.in
aclocal.m4
autom4te.cache/
aux_config/
config.h.in
configure
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Build
Debug/
Release/
Debug_obj/
Release_obj/
ipch/
*.sdf
*.suo
*.vcxproj.user
*.log
build/

# qtcreator
Makefile.am.user

*.opensdf
